/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(161, 157, 157, 0.3);
}





.alert--jira {
  --ifm-alert-background-color: rgba(43, 117, 253, 0.5);
  --ifm-alert-background-color-highlight: rgba(6, 40, 133, 0.15);
  --ifm-alert-foreground-color: rgb(65, 63, 63);
  --ifm-alert-border-color: #1f1cd4;
}

html[data-theme='dark'] .alert--jira {
  --ifm-alert-background-color:  rgba(43, 117, 253, 0.5);
  --ifm-alert-background-color-highlight:rgba(6, 40, 133, 0.15);
  --ifm-alert-foreground-color: rgb(255,255,255);
  --ifm-alert-border-color:#1f1cd4;
}




.alert--bug {
  --ifm-alert-background-color: rgba(253, 50, 43, 0.5);
  --ifm-alert-background-color-highlight: rgba(133, 10, 6, 0.15);
  --ifm-alert-foreground-color: rgb(65, 63, 63);
  --ifm-alert-border-color: #d41c1c;
}

html[data-theme='dark'] .alert--bug {
  --ifm-alert-background-color: rgba(253, 50, 43, 0.5);
  --ifm-alert-background-color-highlight: rgba(133, 10, 6, 0.15);
  --ifm-alert-foreground-color: rgb(255,255,255);
  --ifm-alert-border-color: #d41c1c;
}

/*** docu admonition ****/
.alert--docu {
  --ifm-alert-background-color: rgba(43, 253, 71, 0.5);
  --ifm-alert-background-color-highlight: rgba(10, 133, 6, 0.15);
  --ifm-alert-foreground-color: rgb(65, 63, 63);
  --ifm-alert-border-color: #e5ff00;
}

html[data-theme='dark'] .alert--docu {
  --ifm-alert-background-color: rgba(43, 253, 71, 0.5);
  --ifm-alert-background-color-highlight: rgba(10, 133, 6, 0.15);
  --ifm-alert-foreground-color: rgb(255,255,255);
  --ifm-alert-border-color: #e5ff00;
}

.markdown h2 {
  padding: 15px;
  background-color: #1a8870;
  text-align: center;
}

.markdown .card h2 {
  padding: initial;
  background-color: initial;
  text-align: initial;
}